body, html{
  width: 100%;
  height: 100%;
  font-family: 'MuseoModerno', cursive;
  background-image: url('../img/french-stucco.png');
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 1);
  color: #E6BE8A;
}
/*
div {
   border: 1px solid red;
}
*/

footer{
   width: 100%;
   min-height: 380px;
   background-image: linear-gradient(to bottom, transparent, black);
}

section {
    padding: 1.5rem 1rem;
}


.navbar {
   height: 140px; 
}

.button{
    width: 100%;
    height: 100%;
}

.container-fluid{
    padding: 0 0;
}

.presentation {
    height: 60vh;
    width: 100%;
    /*background: url("../img/horux-people.jpg") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    background-color: transparent;
}

.main-button {
    width: 100%;
    height: 13%;
    min-height: 45px;
    font-size: 20px;
    max-width: 60%;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    background: rgba(167, 20, 29, 0.5);
    color: #E6BE8A;
    transition: 0.5s ease-in;
    border-color: #E6BE8A;
    align-self: flex-start;
}

.main-button:hover {
    background: rgba(230, 190, 138, 0.8);
    color: rgb(167, 20, 29);
    border-color: rgb(167, 20, 29);
}

div img.main-logo{
    width: 80%;
    max-width: 300px;
    max-height: 340px;
    margin: 0 auto;
    display: flex;
}

#navbarNav{
    height: 100%;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.navbar-nav{
    width: 100%
}

.navbar a.navbar-brand{
    color: #E6BE8A;
}

.navbar-toggler{
    background-color: #E6BE8A;
}

li.nav-item a.nav-link{
    color: rgb(230, 190, 138);
    transition: color 0.5s ease;
}

li.nav-item a.nav-link:hover{
    color: rgb(167, 20, 29);
    border-bottom: 1px solid rgb(167, 20, 29);
}

.nav-item.spacer {
    margin: 0 auto;
}

.img-horux-people{
    height: 330px;
    width: 330px;
    min-height: 200px;
    min-width: 200px;
}

.horizontal-padding{
    padding-left: 1rem;
    padding-right: 1rem;
}

.vertical-padding{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.color-horux-red {
    color: rgb(167, 20, 29);
}

.color-horux-gold {
    color: #E6BE8A;
}

.bgcolor-title-gold {
    background-color: rgb(230, 190, 138, 0.4);
}